.container-todo-list{
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: 5px;
    margin-bottom: 1.2rem;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container-todo-center{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.not-todo-text{
    color: var(--Dark-Grayish-Blue);
}

.todo-item{
    display: grid;
    grid-template-columns: 15% 80% 5%;
    align-items: center;
    padding: .7rem 1.3rem;
    border-bottom: .13rem var(--Very-Dark-Grayish-Blue) solid;
}


.label-checkbox{
    margin-right: 1rem;
    padding-top: .2em;
    color: var(--Light-Grayish-Blue);
    font-size: .75em;
    line-height: 1.1em;
    
}

.label-checkbox-complete{
    text-decoration: line-through;
    color: var(--Very-Dark-Grayis-Blue);
}

.container-buttons-change{
    margin-right: 50px;
    background-color: aqua;
    /* display: flex; */
    width: max-content;
    /* margin: 100px; */
}

.button-change-todo{
    display: inline-block;
    padding-top: .2em;
    color: var(--Very-Dark-Grayis-Blue);
    text-decoration: none;
}

.footer-todo-list{
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 1.3rem;
}

.info-footer-todo{
    color: var(--Dark-Grayish-Blue);
    font-size: .75em;
}

.clear-complete-todos{
    text-decoration: none;
}

