.container-items-checkbox{
   display: flex;
   align-items: center;
   margin-right: 10px;
}

.checkbox{
    width: 25px;
    height: 25px;
    border: 2px solid var(--Very-Dark-Grayish-Blue);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.checkbox-light{
    border: 2px solid var(--Light-Grayish-Blue);
}

.checkbox-active{
    background: var(--Check-Background);
    border: 1px solid var(--Check-Background);
}

.checkbox-active > .check{
    opacity: 1;
}

.check{
    width: 12px;
    height: 7px;
    opacity: 0;
    margin: 6px auto 0;
    border: 3px solid white;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

