.app-container{
    background-color: var(--Very-Dark-Blue);
    min-height: 100vh;
    background-image: url("./assets/images/bg-mobile-dark.jpg");
    background-repeat: no-repeat;
    /* color: aliceblue; */
    padding: 40px 25px;
}


@media(min-width:376px){
    .app-container{
        background-image: url("./assets/images/bg-desktop-dark.jpg");
    }
}



