.app-container{
    background-color: var(--Very-Dark-Blue);
    min-height: 100vh;
    background-image: url("./assets/images/bg-mobile-dark.jpg");
    background-repeat: no-repeat;
    /* color: aliceblue; */
    padding: 40px 25px;
}



